Repository socketsupply/socket, pull requests merged in 2023-05, with the labels that each got.

#405 crypto: simplify nodejs webcrypto
  api/crypto.js
Labels: api, node

#423 Improve peer packet handler
  api/peer.js
Labels: enhancement, api

#426 Improve 'Concurrency#wait()'
  api/internal/init.js
Labels: enhancement, api

#429 Do not directly compile or strip for iOS
  src/cli/cli.cc
Labels: bug, cli

#428 Release v0.3.0
  VERSION.txt
  clib.json
  npm/packages/@socketsupply/socket-darwin-arm64/package.json
  npm/packages/@socketsupply/socket-darwin-x64/package.json
  npm/packages/@socketsupply/socket-linux-arm64/package.json
  npm/packages/@socketsupply/socket-linux-x64/package.json
  npm/packages/@socketsupply/socket-win32-x64/package.json
  npm/packages/@socketsupply/socket/package.json
Labels: release

#441 Clean up internal init, fix 'webview:onload' test
  api/internal/init.js
  api/test/index.js
  test/src/dgram.js
  test/src/webview.js
  tsconfig.json
Labels: api

#443 Revert preload injection
  src/android/main.kt
  src/android/window.cc
  src/android/window.kt
  src/ios/ios.mm
  src/ipc/bridge.cc
  src/window/apple.mm
Labels: javascript

#459 Generate docs and types
  api/README.md
  api/index.d.ts
Labels: documentation, typescript
