Repository socketsupply/socket, pull requests merged in 2023-10, with the labels that each got.

#633 Darwin Window fixes
  src/window/apple.mm
  src/window/window.hh
Labels: bug, ios, macos

#652 fix(cli): warn when extension sources are not found
  src/cli/cli.cc
Labels: cli, extension

#653 feat(cli): respect NO_ANDROID=1 in `ssc build`
  bin/functions.sh
Labels: build

#657 fix: encode uncaught exception before writing to ipc
  npm/packages/@socketsupply/socket-node/index.js
Labels: node

#656 fix: remove superfluous decodeURIComponent calls
  src/desktop/main.cc
Labels: enhancement

#661 feat: write backend logs to std::cout/std::cerr and forward them to Console.app on macOS
  src/desktop/main.cc
Labels: enhancement

#662 chore: use pnpm workspaces
  .npmrc
  pnpm-workspace.yaml
Labels: npm

#655 chore: add exports field to @socketsupply/socket package
  npm/packages/@socketsupply/socket/package.json
Labels: npm

#658 fix: use --force with npm link
  bin/publish-npm-modules.sh
Labels: build, npm

#660 fix: send all process.stdout/process.stderr writes through ipc
  npm/packages/@socketsupply/socket-node/index.js
Labels: node

#670 feat(extension): add `sapi_ipc_reply_with_error` function
  include/socket/extension.h
  src/extension/ipc.cc
Labels: api, extension

#659 fix(ipc): stringify the value passed to `process.write`
  api/window.js
Labels: javascript, api

#689 fix(cli): track built extensions for android
  src/cli/cli.cc
Labels: bug, android, cli, extension

#691 fix: remove outdated code in `getResolveMenuSelectionJavaScript`
  src/core/javascript.cc
Labels: bug

#663 Implement 'resolveURLPathForWebView()' function
  src/android/main.kt
  src/android/webview.kt
  src/ipc/bridge.cc
  src/ipc/ipc.hh
  src/window/win.cc
  test/src/index.js
  test/src/router-resolution.js
  test/src/router-resolution/a-conflict-index.html
  test/src/router-resolution/a-conflict-index/index.html
  test/src/router-resolution/an-index-file/a-html-file.html
  test/src/router-resolution/an-index-file/index.html
  test/src/router-resolution/another-file.html
  test/src/router-resolution/index.html
  test/src/router-resolution/pages/index.html
Labels: enhancement, windows, linux, ios, macos

#699 fix(cli.cc): fix push notification permission
  src/cli/cli.cc
Labels: bug, cli, ios, macos

#702 chore(docs): improve config doc
  api/CONFIG.md
  bin/docs-generator/config.js
  bin/publish-npm-modules.sh
Labels: documentation

#705 fix(src/cli): fix 'Info.plist' generation for iOS
  src/cli/cli.cc
  src/cli/templates.hh
Labels: bug, cli, ios

#701 fix(mac): avoid "This task has already been stopped" exceptions
  include/socket/extension.h
  src/ipc/bridge.cc
Labels: ios, macos

#723 docs(ipc,window): clarifications and spelling fixes
  api/README.md
  api/index.d.ts
  api/ipc.js
  api/window.js
Labels: documentation

#732 fix(src/ipc/bridge.cc): check if task is in map first
  src/ipc/bridge.cc
Labels: bug, runtime

#738 feat(extension): add `sapi_ipc_set_cancellation_handler` method
  include/socket/extension.h
  src/extension/ipc.cc
  src/ipc/bridge.cc
  src/ipc/ipc.hh
Labels: enhancement, ios, macos, extension, runtime

#741 refactor(src/core/fs.cc): guard 'FileSystemWatcher' from android
  src/core/fs.cc
Labels: bug, android, runtime
