Repository socketsupply/socket, pull requests merged in 2023-12, with the labels that each got.

#823 Improve CSP policies for `ssc init`'s `index.html`
  src/cli/templates.hh
Labels: cli, fte

#827 fix(src/cli/cli.cc): allow actual env to overload loaded env, fix 'CXX'
  src/cli/cli.cc
Labels: bug, cli, linux

#824 Release v0.5.2
  VERSION.txt
  api/README.md
  clib.json
  npm/packages/@socketsupply/socket-darwin-arm64/package.json
  npm/packages/@socketsupply/socket-darwin-x64/package.json
  npm/packages/@socketsupply/socket-linux-arm64/package.json
  npm/packages/@socketsupply/socket-linux-x64/package.json
  npm/packages/@socketsupply/socket-win32-x64/package.json
  npm/packages/@socketsupply/socket/package.json
Labels: release

#831 fix(): fix usage of 'SSC::getDevHost()'
  src/cli/cli.cc
  src/ios/main.mm
  src/window/win.cc
  src/window/window.hh
Labels: bug, windows, ios, runtime

#833 protocol updates
  api/index.d.ts
  api/stream-relay/cache.js
  api/stream-relay/index.js
  api/stream-relay/packets.js
Labels: enhancement, javascript, api

#834 Release v0.5.3
  VERSION.txt
  api/README.md
  clib.json
  npm/packages/@socketsupply/socket-darwin-arm64/package.json
  npm/packages/@socketsupply/socket-darwin-x64/package.json
  npm/packages/@socketsupply/socket-linux-arm64/package.json
  npm/packages/@socketsupply/socket-linux-x64/package.json
  npm/packages/@socketsupply/socket-win32-x64/package.json
  npm/packages/@socketsupply/socket/package.json
Labels: release

#845 docs(config): add copy_map docs
  api/CONFIG.md
  src/cli/templates.hh
Labels: documentation

#847 Tweak CI
  .github/workflows/ci.yml
  test/scripts/poll-adb-logcat.sh
  test/src/application.js
Labels: android, CI

#855 refactor(cli): make '[android] icon' optional
  src/cli/cli.cc
  src/cli/templates.hh
Labels: bug, android, cli

#858 Remove narrow exports specifier
  npm/packages/@socketsupply/socket/package.json
Labels: bug, npm

#861 refactor(api/internal/monkeypatch.js): patch missing file api
  api/internal/monkeypatch.js
Labels: bug, javascript, api

#863 fix(src/cli/cli.cc): set default value for 'android_application_icon_config'
  src/cli/cli.cc
Labels: bug, android, cli, build

#864 fix(src/cli/cli.cc): actually fix config
  src/cli/cli.cc
Labels: bug, android, cli

#860 Release v0.5.4
  VERSION.txt
  api/README.md
  clib.json
  npm/packages/@socketsupply/socket-darwin-arm64/package.json
  npm/packages/@socketsupply/socket-darwin-x64/package.json
  npm/packages/@socketsupply/socket-linux-arm64/package.json
  npm/packages/@socketsupply/socket-linux-x64/package.json
  npm/packages/@socketsupply/socket-win32-x64/package.json
  npm/packages/@socketsupply/socket/package.json
Labels: release

#865 chore(docs): update API links to use master
  api/README.md
Labels: chore
