Repository socketsupply/socket, pull requests merged in 2023-03, with the labels that each got.

#221 introduce backoff for polling logs
  src/cli/cli.cc
  src/common.hh
  src/desktop/main.cc
  src/ipc/bridge.cc
Labels: cli, macos

#226 provide 'fetch()' response clone in metrics, and introduce 'WorkerMetric'
  api/diagnostics/window.js
Labels: enhancement

#238 Unreachable code detected
  npm/bin/ssc.js
Labels: bug, cli, npm

#266 fix nullptr usage
  src/desktop/main.cc
Labels: bug

#293 fix race condition when loading node:crypto
  api/crypto.js
Labels: bug, api, node
