Repository socketsupply/socket, pull requests merged in 2023-04, with the labels that each got.

#325 fix leak in scheme handler
  src/core/javascript.cc
  src/ipc/bridge.cc
Labels: bug

#327 Fix CommonJS module path normalization
  api/module.js
Labels: bug, windows, api

#330 Android install app support
  src/cli/cli.cc
  src/cli/templates.hh
Labels: android, cli

#331 Support android for 'ssc list-devices'
  npm/src/index.js
  src/cli/cli.cc
  src/cli/templates.hh
Labels: cli

#332 Do not link 'libwebkit2gtk' for cli
  bin/install.sh
  bin/ldflags.sh
Labels: cli

#344 linux fte improvements
  bin/functions.sh
  npm/src/index.js
Labels: linux

#313 fix-win-file
  src/window/win.cc
Labels: bug, windows, build

#365 android fte: fix `if $rc` syntax
  bin/android-functions.sh
Labels: android, fte

#370 Minor FTE improvements
  bin/functions.sh
Labels: linux, fte

#396 fixing typo on 'clusterId' property
  api/peer.js
Labels: bug, api

#393 Release v0.2.13
  VERSION.txt
  clib.json
  npm/packages/@socketsupply/socket-darwin-arm64/package.json
  npm/packages/@socketsupply/socket-darwin-x64/package.json
  npm/packages/@socketsupply/socket-linux-arm64/package.json
  npm/packages/@socketsupply/socket-linux-x64/package.json
  npm/packages/@socketsupply/socket-win32-x64/package.json
  npm/packages/@socketsupply/socket/package.json
Labels: release

#398 Set monitor default geometry on Linux
  src/window/linux.cc
Labels: bug, linux
